html, body {
  width: 100%;
  margin: 0;
  padding: 0;
}
*{
  box-sizing: border-box;
}
body{
  display: flex;
  font-family: @font1;
  font-size: 18px;
  color: @black;
  line-height: 1.3;

  flex-direction: column;
  min-height: 100vh;
  background-color: @bg;
  padding-top: 109px;
  overflow-x: hidden;
  @media @bw1340{
    font-size: 16px;
  }
}

.title{
  margin-top: 0;
  font-size: 84px;
  font-family: @font3_bold;
  font-weight: normal;
  letter-spacing: 4px;
  @media @bw1340{
    font-size: 60px;
  }
  @media @bw768 {
    font-size: 36px;
    text-align: center;
  }
}
// .page-title{
//   margin-top: 27px;
//   margin-bottom: 51px;
//   @media @bw1340{
//     margin-top: 20px;
//     margin-bottom: 31px;
//   }
//   @media @bw768{
//     text-align: left;
//     margin-top: 25px;
//     margin-bottom: 26px;
//   }
// }
// .products-listing{
//   margin-top: -2px;
//   margin-right: -17px;
//   @media @bw1660 {
//     margin-right: -6px;
//   }
//   @media @bw880 {
//     margin-right: 0;
//   }
// }
img{
  max-width: 100%;
  height: auto;
}
picture {
  position: relative;
}

.main {
  flex: 1 0 auto;
}
.page-footer {
  flex: 0 0 auto;
}

a {
  color: @black;
  outline: none;
  text-decoration: none;
}
// .container{
//   .container();
// }
// .container-in{
//   .container();
//   padding-left: 40px;
//   padding-right: 40px;
// }
// .d-flex{
//   .d-flex();
// }
// .d-grid{
//   .d-grid();
// }
// .w-100{
//   width: 100%;
// }
// .picture, picture{
//   .picture()
// }

.show-event-popup{
  scrollbar-gutter: stable both-edges;
  height: 100%;
  overflow: hidden;
}

 //.bg-blue, body .bg-blue{
 //  background-color: @blue_d;
 //}
 //.bg-blue-2, body .bg-blue-2{
 //  background-color: @blue_l;
 //}
 //.bg-orange, body .bg-orange{
 //  background-color: @orange;
 //}
 //.bg-green, body .bg-green{
 //  background-color: @green;
 //}
 //.bg-yellow, body .bg-yellow{
 //  background-color: @yellow;
 //}
//
// select::-ms-expand {
//   display: none;
// }
// input::placeholder {
//   transition: color 0.2s;
//   opacity: 1;
//   color: inherit;
// }
// input:focus::placeholder {
//   color: transparent;
//   opacity: 1;
// }
//
// .svg-ico{
//   display: inline-flex;
//   align-items: center;
//   justify-content: center;
//   position: relative;
//   svg{
//     width: 100%;
//     height: 100%;
//   }
// }
// .text-center{
//   text-align: center;
// }

h2 {
  margin-block-start: 0;
  margin-block-end: 0;
}
