// Медиа выражения
@bw370: ~"(max-width: 369px)";
@bw400: ~"(max-width: 399px)";
@bw500: ~"(max-width: 499px)";
@bw600: ~"(max-width: 599px)";
@bw650: ~"(max-width: 649px)";
@bw700: ~"(max-width: 699px)";
@bw768: ~"(max-width: 767px)";
@w768: ~"(min-width: 768px)";
@bw880: ~"(max-width: 879px)";
@w880: ~"(min-width: 881px)";
@bw960: ~"(max-width: 959px)";
@w960: ~"(min-width: 960px)";
@bw1024: ~"(max-width: 1023px)";
@w1024: ~"(min-width: 1024px)";
@bw1170: ~"(max-width: 1169px)";
@w1170:  ~"(max-width: 1170px)";
@bw1340: ~"(max-width: 1339px)";
@w1340:  ~"(max-width: 1340px)";
@bw1660: ~"(max-width: 1659px)";
@w1660: ~"(min-width: 1660px)";
// @full-hd: ~"(min-width: 1920px)";
// @landscape: ~"(orientation: landscape)";

// Цвета
@bg: #F3F3F3;
@white: #ffffff;
@black: #111111;
@black_l: #1F1E1E;
@red: #D70332;
@orange: #EC6F2D;
@green: #6ECB03;
@blue: #5899EF;
@yellow: #FAEB50;

@gray: #F3F3F3;
@gray_l: #E7E7E7;
@gray_d: #6C6C6C;

//btn
@blue_d: #0154BB; // темно-синий
@blue_l: #4497e4; // светло-синий

// Шрифты
@font1: "Montserrat", sans-serif;
@font3: "Moniqa", sans-serif;
@font3_bold: "Moniqa Display";

@h1: 84px;
@h2: 60px;
@h3: 40px;
@h4: 30px;
@h5: 20px;
@h6: 18px;