.btn {
  height: 52px;
  color: @white; /* Белый текст */
  background-color: @blue_d;
  border: none; /* Убираем рамку */
  font-size: 16px; /* Размер шрифта */
  padding: 15px 10px 15px 10px;
  cursor: pointer; /* Указатель курсора при наведении */

  font-family: @font1;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;

  &:hover {
    background-color: @blue_l;
  }
}