.product_carousel {
  .container();

  &__related {
    display: flex;
    padding-top: 51px;
    padding-bottom: 151px;
    margin-right: -14px;
    width: auto;
    @media @bw1660{
      margin-right: -2px;
    }
    @media @bw1024{
      margin-right: 0;
      padding-bottom: 119px;
    }
    @media @bw768{
      padding-top: 23px;
      padding-bottom: 23px;
    }
    .owl-nav{
      position: absolute;
      width: 132px;
      display: flex;
      justify-content: space-between;
      top: -33px;
      right: -22px;
      @media @bw768{
        position: relative;
        top: 0;
        right: auto;
        left: auto;
        justify-content: center;
        width: 100%;
        gap: 0 47px;
        padding-top: 18px;
      }
    }
  }

}
