.table {
  width: 100%;
  border-collapse: collapse;
  color: @black_l;
  text-align: center;

  &__body {
    border-left: none; /* Убираем левую границу */
    border-right:
     none; /* Убираем правую границу */
  }

  &__tr {
    border-bottom: 1px solid @table_gray;
  }
  &__th,
  &__td {
    box-sizing: border-box;
    padding: 9px 10px;
    @media @bw1024 {
      font-size: 14px;
    }
  }

  &__td {
    height: 51px;
    font-weight: 400;
    line-height: 22px;

    &:last-child {
      border-right: none;
      padding-right: 0;
    }
  }

  &__th {
    height: 85px;
    font-weight: 550;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;

    &:first-child {
      padding-left: 0;
      width: 400px;

      @media @bw768 {
        width: 177px;
      }
    }

    &:last-child {
      border-right: none;
      padding-right: 0;

      @media @bw768 {
        width: 177px;
      }
    }
  }

  //------------------ Для 400px
  @media @bw400 {
    &__body {
      width: 100%;
      text-align: left;

    }

    &__head {
      display: none;
    }

    &__tr {
      display: flex;
      flex-direction: column;
      width: 100%;
      border: none;
    }

    .table__td {
      border: none;
      vertical-align: middle;
      position: relative; /* Установите относительное позиционирование для ячеек */
      font-size: 16px;
      font-family: @font1;
      font-weight: 400;
    }

    .table__td::before {
      content: attr(data-title); /* Используйте значение атрибута data-title */
      display: block; /* Отображение как блочный элемент */
      font-size: 14px;
      font-family: @font1;
      color: @gray_d;
      font-weight: 200;
      margin-top: -5px;
    }
    .table__td[data-title="Название"]::before  {
      color: @black;
      font-weight: 400;
    }

    .table__tr:nth-child(1) .table__td[data-title="Название"] {
      background-color: @yellow; /* Цвет для Andy Mouse */
    }

    .table__tr:nth-child(2) .table__td[data-title="Название"] {
      background-color: @green; /* Цвет для Lucky strike */
    }

    .table__tr:nth-child(3) .table__td[data-title="Название"] {
      background-color: @orange; /* Цвет для Dogs */
    }

    .table__tr:nth-child(4) .table__td[data-title="Название"] {
      background-color: @blue; /* Цвет для The shining baby */
    }

  }


}
